#backgroundText {
    color: black;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: -2.5px;
    font-style: italic;
    margin: auto;
    margin-top: 200px;
}

#logo1 {
    border-radius: 20px;
}

Button:hover {
    border-radius: 45px;
    background-color:red !important;
    opacity: 45%;
 }

 #about {
     color: black;
 }

 .loginHeader {
     color: white;
     margin: auto;
     text-align: center;
 }
 
 .button2 {
     text-align: center;
     background-color: transparent;
 }
 .loginButton {
     text-align: center;
     background-color: red;
     font-size: large;
     font-weight: 900;
     font-size: 30px;

 }

 .loginEmail {
     background-color: red;
     text-align: center;
 }

 .loginPassword {
    background-color: red;
    text-align: center;
}

label {
    font-size: 30px;
    font-weight: 900;

}




 



