.justify-content-md-center {
    padding-top: 250px;
}
.loginEmail {
    justify-content: center;
}

 .loginContainer {
     margin: auto;
     text-align: center;
 }

 .authButton {
     background-color: white;
 }

 .backButton {
     font-size: 300px;
 }

 .loginFont {
     color: white;
     justify-content: center;
 }

label {
    font-size: 40px;
    font-weight: 900;
}