.bg-transparent {
        color: red;
        border-bottom: 2px solid red;
}

.navbar-brand {
        color: red;
}

.nav-link {
        color: white;
}

.btn-outline-success {
        color: red;
        border-color: red;
}