.bg-transparent {
        color: red;
        border-bottom: 2px solid red;
}

.navbar-brand {
        color: red;
        padding-left: 10px;
}

.nav-link {
        color: white;
}

.btn-outline-success {
        color: red;
        border-color: red;
}

.my-2 {
        color: red;
}

.dropdown-menu {
        background-color: transparent;
        border-color: red;
        margin-top: 10px; 
}

.dropdown-item {
        color: white;
        font-weight: bold;
        text-decoration: underline;
}


a:hover {
        color: red;
}

.btn:hover {
        border-color: red;
        background-color: red;
        color: white;
}

.showDropdown {
        color: red;
}

.navbar-expand-lg .navbar-nav .nav-link {
padding-right: 50px;
padding-left: 30px;
font-weight: bold;
}

.row {
        margin: 0 auto;
}

.col-centered {
        float: none;
        margin: 0 auto;
}

.col-lg-4 {
        margin: auto;
        padding-top: 300px;
}

